// Home
.home {
    .wrap {
        padding: 0;
    }
    .twd {
        padding: 1em;
        background: $cyan;
        color: aliceblue;
        h2{
            text-align: center;
            text-transform: uppercase;
            font-size: 1.4em;
            letter-spacing: 0.1em;
            a {
                color: aliceblue;
            }
            @media (min-width:$screen-sm){
                font-size: 2em;
                margin: 1.5em 0.5em 0.5em 0.5em;
                padding-bottom: 0.5em;
            }
        }

        h3 {
            padding-bottom: 0.5em;
            border-bottom: 2px solid aliceblue;
            text-align: center;
            span {
                font-size:0.8em;
            }
            a {
                color: aliceblue;
            }
        }

        h4 {
            text-align: center;
            font-family: $font-family-serif;
            a{ color: aliceblue;
                }
        }
    } //.twd

    .blog-feed {
        background-image: url(../images/congruent_outline.png);
        background: #272727;
        article {
            background: white;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            @media (min-width:$screen-sm) {
                float: left;
                width: 50%;
                    }
            @media (max-width:$screen-sm){
                padding: 0;
                header{
                    padding: 1em;
                }
                }

              &:first-child {
                   padding: 0;
                  .entry-summary {
                      @media (min-width:$screen-md){
                      border-bottom: 2px solid black;

                          }
                      margin-bottom: 2em;
                      max-width: $screen-sm;

                  }
              @media (min-width:$screen-sm) {
                width: 720px;
              }
            @media(min-width) and ( max-width:$screen-md )  {
                header {
                    padding: 1em;
                }
            }
              @media (min-width:$screen-md) {
                width: 940px;
              }
              @media (min-width:$screen-lg) {
                width: 1140px;
              }
             header {
                @media(min-width:$screen-md){
                    margin-left: 4em;
                }
             @media(min-width:$screen-lg){
                    margin-left: 6em;
                }
            }
            }//&:first-child

        } //article
        .post-nav {
            clear: both;
            background: white;
            padding: 1em;
            .nav-links {
                background: white;
                color: black;
            }

        }

    }// blog feed

    .readings-videos {
        background: #ededed;
        //color: aliceblue;
        padding: 2em 0;
            h2{
                text-align: center;
                text-transform: uppercase;
                font-size: 1.4em;
                letter-spacing: 0.1em;
                border-bottom: 4px solid #ffffff;
                padding-bottom: 1em;

            @media (min-width:$screen-sm){
                font-size: 2em;
                margin: 1.5em 0.5em 0.5em 0.5em;
                padding-bottom: 1em;
            }
        }
        .entry-title {
            a {
                color: aliceblue;
                display: inline-block;
                width: 100%;
                padding: 1em;
            }
            text-align: center;
            background: $cyan;
            margin: 2em 0 0 0;
            font-size: 1.2em;
            @media (min-width:$screen-sm){
                font-size: 1.6em;
                 margin: 1.6em 0 0 0;
            }
            }
         }
} // .home



.paged {
    padding-top: 100px;
    background: white;
    .twd {
        display: none;
    }

    .blog-feed{
        background:white;
        article {
            width: 100%;
            float: none;
                header{
                    max-width: 760px;
                      }
               }
            }
    .entry-summary {
         border-bottom: 2px solid black;

    } //.entry-summary
   header {
        @media(min-width:$screen-md){
            margin-left: 4em;
        }
     @media(min-width:$screen-lg){
            margin-left: 6em;
        }
    }

}//.paged














