// Home
.home {
    .wrap {
        padding: 0;
    }
    .twd {
        padding: 1em;
        background: $cyan;
        color: aliceblue;
        h2{
            text-align: center;
            text-transform: uppercase;
            font-size: 1.4em;
            letter-spacing: 0.1em;
            @media (min-width:$screen-sm){
                font-size: 2em;
                margin: 1.5em 0.5em 0.5em 0.5em;
                padding-bottom: 0.5em;
            }
        }

        h3 {
            padding-bottom: 0.5em;
            border-bottom: 2px solid aliceblue;
            text-align: center;
            span {
                font-size:0.8em;
            }
        }

        h4 {
            text-align: center;
            font-family: $font-family-serif;
            a{ color: aliceblue;
                }
        }
    } //.twd

    .blog-feed {
        article {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            @media (min-width:$screen-sm) {
                float: left;
                width: 50%;
        }
              &:first-child {
              @media (min-width:$screen-sm) {
                width: $screen-sm;
              }
              @media (min-width:$screen-md) {
                width: $screen-md;
              }
              @media (min-width:$screen-lg) {
                width: $screen-lg;
              }
            }//&:first-child
            .entry-summary {
                max-width: $screen-md;
            }


        } //article

    }// blog feed




} // .home

.paged {
    .twd {
        display: none;
    }

}












